.form {
  text-align: center;
  position: relative;
  width: 50%;
  margin: auto;
}

.form input[type="submit"] {
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 10px;
  border: none;
  font-weight: bold;
  background-color: transparent;
}

.form input[type="text"] {
  border-radius: 20px;
  width: 100%;
  padding: 20px 0px 10px 0px;
  border: 0;
  box-shadow: 10px 8px 5px -4px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 10px 8px 5px -4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 10px 8px 5px -4px rgba(0, 0, 0, 0.16);
}

.toDoAction {
  margin: auto;
  width: 70%;
  padding: 10px;
}
.toDoAction ul {
  list-style-type: none;
}

.listTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 130px 10px 90px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.listTodo input {
  margin-right: 15px;
}

.listTodo button {
  border-radius: 50%;
  padding: 15px 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.listTodo .complete {
  text-decoration: line-through;
  font-style: italic;
  font-weight: bold;
  color: grey;
}
